<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
<meta charset="utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/css/core.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/_print/main.css" media="print" rel="stylesheet" />
<meta name="author" content="Michael Brunton-Spall" />
<meta name="Copyright" content="Copyright Michael Brunton-Spall 2010. All Rights Reserved." />
</head>

<body{% block bodyattrs %}{% endblock %}>
	{% block body %}{% endblock %}
</body>
</html>
