{% extends "base.html" %}
{% block title %}ScaleCamp Session Picker{% endblock %}
{% block body %}
<div id="head">	
  <h1>Scale Camp <span>Session Picker</span></h1>
  <p><strong>ScaleCamp</strong> is an unconference that will happen on <strong>Dec 10th 2010.</strong></p>
  <p>As well as some open spots, we thought it would help organisation this year to have a session picker so we can find out some of the sessions that are popular early and put them in rooms that are big enough.  There will still be an amount of the grid freely available on the day for impromptu sessions.</p>
</div>

<div id="main">
  <div id="controls">
    {% if not user %}			
      <p><a href="/twitter/signin"><img src="/static/img/sign-in-with-twitter-d.png"/></a>You need to sign in to like or add your own sessions</p>
		{% else %}
      <p>Welcome back {{user.display_name}} - <a href="/signout">Sign out</a></p>
		{% endif %}
		{% if user %}
		<form action="/session/new" method="POST">
		    <label for="title">Title</label> <input type="text" id="title" name="title" placeholder="My Exciting Session Title" required="require"/>
		    <label for="description">Details</label><textarea id="description" name="description" placeholder="My Exciting Session Description" required="required"></textarea>
		    <input type="submit" value="Suggest session" class="btn"/>
		</form>
	  {% endif %}
	</div>

  {% if sessions %}
  <ul>
    <li>
      <img src="garethrushgrove_normal.jpg" width="48" height="48"/>
      <h2><em>Rant</em> from Gareth Rushgrove</h2>
      <div>And then some</div>
      <p><a href="">Like</a></p>
    </li>
     <li>
      <img src="garethrushgrove_normal.jpg" width="48" height="48"/>
      <h2><em>Rant</em> from Gareth Rushgrove</h2>
      <div>And then some</div>
      <p>Login to vote for this</p>
    </li>
		{% for session in sessions %}
	  <li>
			<img src="{{session.submitter.image_url}}">
			<h2><em>{{session.title}}</em> from {{session.submitter.display_name}}</h2>
			<div>{{session.description|linebreaks}}</div>
      {% if user %}
        {% if session.user_has_voted_for %}
          <p>You have already voted for this</p>
        {% else %}
          <p><a href="/session/{{session.key}}/like">Vote for this</a></p>
        {% endif %}
      {% else %}
        <p>Login to vote for this</p>
      {% endif %}
		</li>
		{% endfor %}
	</ul>
  {% endif %}
	
  <footer>
		<p>Built by <a href="http://github.com/bruntonspall">Michael Brunton-Spall</a> using <a href="http://github.com/mikeknapp/AppEngine-OAuth-Library">Mike Knapp's AppEngine OAuth library</a>, <a href="http://github.com/joerussbowman/gaeutilities">gaeutilities</a> and <a href="http://appengine.google.com">Google AppEngine</a>.</p>
	</footer>

</div>

{% endblock %}
